<?xml version="1.0"?>
<configuration>
   <system.runtime.remoting> 
      <application> 
         <client url="tcp://localhost:8005"> 
            <activated  type="RemoteServer.MyPublisher,ServerAssembly"/>
         </client> 
         <channels> 
            <channel ref="tcp"  port="0"/> 
         </channels> 
      </application> 
   </system.runtime.remoting> 
</configuration>
